<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>max_season</key>
	<integer>2019</integer>
	<key>ios_min_app_version</key>
	<integer>-1</integer>
	<key>ios_latest_app_version</key>
	<integer>-1</integer>
	<key>app_store_id</key>
	<string>abcd123</string>
	<key>current_season</key>
	<real>2019</real>
</dict>
</plist>
