name: On pull request

on: pull_request

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout
        uses: actions/checkout@v2
      - name: List available Xcode versions
        run: ls /Applications | grep Xcode
      - name: Show current version of Xcode
        run: xcodebuild -version
      - name: Install
        run: |
          cp ops/mock-Secrets.plist TBA/Secrets.plist
        env:
          TBA_API_KEY: ${{ secrets.TBA_API_KEY }}
      - uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          project: TBA.xcodeproj
          scheme: TBA
          destination: platform=iOS
          action: build
