name: On pull request

on: pull_request

jobs:
  test:
    name: Test
    runs-on: macos-latest
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache SPM
        uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: Install
        run: |
          cp ops/mock-Secrets.plist TBA/Secrets.plist
        env:
          TBA_API_KEY: ${{ secrets.TBA_API_KEY }}
      - uses: sersoft-gmbh/xcodebuild-action@v4
        with:
          project: TBA.xcodeproj
          scheme: "The Blue Alliance"
          destination: platform=iOS
          action: build
