name: Build + Test iOS

on:
  push:
    branches: ["five"]
  pull_request:
    branches: ["five"]

env:
  APP_NAME: "TBA"
  PLATFORM: "iOS Simulator"
  OS_VERSION: "26.1"

jobs:
  test:
    name: Test
    runs-on: macos-26
    strategy:
      matrix:
        device: ["iPhone 17 Pro"]

    steps:
      - name: List available Xcode versions
        run: ls /Applications | grep Xcode

      - name: Select Xcode Version
        run: sudo xcode-select -s /Applications/Xcode_26.1.0.app/Contents/Developer

      - name: Show current version of Xcode
        run: xcrun xcodebuild -version

      - name: Show Swift version
        run: xcrun swift --version

      - name: List available simulators
        run: xcrun simctl list devices available

      - name: List installed simulators
        run: xcrun xctrace list devices

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Secrets
        run: |
          cp scripts/mock-Secrets.plist TBA/Secrets.plist
          /usr/libexec/PlistBuddy -c "Set :tba_api_key $TBA_API_KEY" TBA/Secrets.plist
        env:
          TBA_API_KEY: ${{ secrets.TBA_API_KEY }}

      - uses: actions/cache@v4
        with:
          path: |
            .build
            ~/Library/Developer/Xcode/DerivedData
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      # - name: Set Default Scheme
      #   run: |
      #     scheme_list=$(xcrun xcodebuild -list -json | tr -d "\n")
      #     default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
      #     echo $default | cat >default
      #     echo Using default scheme: $default

      - name: Skip Package Plugin Fingerprint Validation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES

      - name: Resolve Swift Package Dependencies
        run: |
          xcrun xcodebuild -resolvePackageDependencies

      - name: Boot Simulator
        run: |
          xcrun simctl boot "${{ matrix.device }}" || true
          xcrun simctl bootstatus "${{ matrix.device }}"

      - name: Build
        run: |
          # xcrun xctrace returns via stderr, not the expected stdout (see https://developer.apple.com/forums/thread/663959)
          # Note from Zach: This `device` run does not filter for the OS we need - not using it
          # device=`xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//"`
          xcrun xcodebuild \
            build-for-testing \
            -project "${APP_NAME}.xcodeproj" \
            -scheme "${SCHEME_NAME}" \
            -destination "platform=${PLATFORM},name=${{ matrix.device }},OS=${OS_VERSION}" \
            -quiet

      - name: Test
        run: |
          xcrun xcodebuild \
            test-without-building \
            -project "${APP_NAME}.xcodeproj" \
            -scheme "${SCHEME_NAME}" \
            -destination "platform=${PLATFORM},name=${{ matrix.device }},OS=${OS_VERSION}"
